@charset "utf-8";
/* CSS Document */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.catalog-container {
    width: 800px;  /* Debe coincidir con la configuración de Turn.js */
    height: 600px;
    overflow: hidden; /* Para ocultar contenido desbordante */
    background-color: #ffffff;
}


.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
